<?xml version="1.0"?>
<configuration>

  <system.webServer>
      <staticContent>
         <mimeMap fileExtension=".syx" mimeType="application/octet-stream" />
         <mimeMap fileExtension=".json" mimeType="application/json" />
         <mimeMap fileExtension=".properties" mimeType="text/properties" />
         <mimeMap fileExtension=".apk" mimeType="application/apk" />

      </staticContent>
   </system.webServer>

	<appSettings/>
	<connectionStrings/>
	<system.web>


	</system.web>
</configuration>
